# Byte-compiled / optimized / DLL files
**/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv

# Local test files
_*.ipynb

# PyPi publist files
dist
py_cz_api.egg-info
_*.cmd
_pypi.token

# ignore xlsx
**/*.xlsx